@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cafe Chronicles</h1>
    <p>Lots more coming about coffee</p>
</div>

<h2>Navigation</h2>
<ul>.
    <li><a href="Home/Overview">Overview</a>.</li>
    <li><a href="Home/References">References</a>.</li>
</ul>