@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cafe Chronicles</h1>
    <p>Lots more coming about coffee</p>
</div>

<div class="text-center">
    <h2>Navigation</h2>
    <a href="Home/Overview">Overview</a><br/>
    <a href="Home/References">References</a><br/>
    <a href="Home/Quiz">Coffee Trivia</a>
</div>