@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About This Site</h1>
    <p>This site contains everything you need to know about Coffee!</p>
</div>

<h2>Menu</h2>
<ul>
    <li><a href="About/Links">Find more information from outside this site.</a></li>
</ul>