@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About the Author</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <p>
                    Hi, I'm Gabe Gucker, a student and barista based in Eugene, Oregon.
                    I have a passion for coffee and technology (beans and machines, if you will) and have been a
                    working barista for the past three years, and a nerd for 24.
                    I've enjoyed discovering coffee in all its delicious and unique permutations!
                    When I'm not brewing espresso or writing some code,
                    you can find me at a local cafe in Eugene.
                </p>
            </div>
        </div>
    </div>
</div>