@model BlogPost
@{
    ViewData["Title"] = "Blog Post";
}

<div class="container">
    <div class="row">
        <h1 class="col-md-12 text-center">Add Post to Blog</h1><br />
    </div>
</div>

<form method="post" class="container">
    <div class="row mb-md-3">
        <label for="title" class="control-label col-md-2">Post Title</label>
        <div class="col-md-10">
            <input id="title" name="PostTitle" class="form-control col-md-10" /><br />
        </div>
    </div>

    <div class="row mb-md-3">
        <label for="text" class="control-label col-md-2">Post Content</label>
        <div class="col-md-10">
            <textarea id="text" name="PostText" class="form-control"></textarea><br />
        </div>

    </div>

    <div class="row mb-md-3">
        <label for="rating" class="control-label col-md-2">Rating</label>
        <div class="col-md-10">
            <input id="rating" name="PostRating" class="form-control col-md-8" /><br />
        </div>
    </div>

    <div class="row mb-md-3">
        <button type="submit" class="btn btn-primary col-2 mx-auto">Submit</button>
    </div>
</form>