@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1 class="display-4">Blog Page</h1>
    <p>This is where you can read posts about coffee</p>
</div>

<h2>Menu</h2>
<ul>
    <li><a href="Blog/TopPosts">Placeholder for top posts navigation.</a></li>
</ul>