@model BlogPost
@{
    ViewData["Title"] = "Top Posts";
}

<form method="post">
    <label for="title">Post Title</label>
    <input id="title" name="PostTitle" /><br />

    <label for="text">Post Content</label>
    <textarea id="text" name="PostText"></textarea><br />

    <label for="poster">Blog Poster</label>
    <input id="poster" name="Poster.Name" /><br />

    <label for="rating">Rating</label>
    <input id="rating" name="PostRating" /><br />

    <button type="submit">Submit</button>
</form>